*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
header, main{
    padding: 0 59px;
}
/*======================================================================
       LOADER
======================================================================*/     

#loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	z-index: 100000000;
	opacity: 1;
	overflow: hidden;
	text-align: center;
}
#loader {
	background-color: black;
}
.position-center-center{
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#logo{
 animation: fill 0.5s forwards 3s;
}
#logo path:nth-child(1){
 stroke-dasharray: 452px;
 stroke-dashoffset: 452px;
 animation: animation 2s ease forwards;
}

#logo path:nth-child(2){
 stroke-dasharray: 503;
 stroke-dashoffset: 503;
 animation: animation 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
 stroke-dasharray: 537;
 stroke-dashoffset: 537;
 animation: animation 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
 stroke-dasharray: 299;
 stroke-dashoffset: 300;
 animation: animation 2s ease forwards 0.6s;
}
#logo path:nth-child(5){
 stroke-dasharray: 488;
 stroke-dashoffset: 488;
 animation: animation 2s ease forwards 0.9s;
}
#logo path:nth-child(6){
 stroke-dasharray: 503;
 stroke-dashoffset: 503;
 animation: animation 2s ease forwards 1.2s;
}
#logo path:nth-child(7){
 stroke-dasharray: 264;
 stroke-dashoffset: 264;
 animation: animation 2s ease forwards 1.5s;
}

@keyframes animation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
       fill: none;
    }
    to{
        fill: white;
    }
}


/*======================================================================
       HEADER
======================================================================*/    
header{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .logo-div{
    float: left;
    width: 40%;
}
header .logo-div .logo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo-div .logo img{
    width: 135px;
    height: 32px;
}
.navbar{
  float: right;
  width: 60%;
  display: flex;
  align-items: center;
}
.navbar .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav li{
  margin: 15px;
}
nav li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 87px;
  height: 25px;
}
button{
    color: white;
    border: none;
    width: 150px;
    height: 44px;
    line-height: 25px;
    border-radius: 8px;
    background-color: black;
    font-weight: 700;
    font-size: 18px;
}


/*======================================================================
       BLOCK USEFUL REWWARD...
======================================================================*/     

.main{
    padding-top: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.texte_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 512px;
}
.texte_main_h1{
 width: 463px;
 height: 163px;
 font-style: normal;
 font-weight: 700;
 font-size: 50px;
 line-height: 123%;
 letter-spacing: -0.84px;
 color: #000000;
}
.texte_main_p{
    margin-top: 25px;
 width: 364px;
 height: 96px;
 font-style: normal;
 font-weight: 300;
 font-size: 23px;
 line-height: 139.5%;
 letter-spacing: -0.0485739px;
 color: #000000;  
}
.btn_main{
    margin-top: 44px;
}


/*======================================================================
       BLOCK USED BY...
======================================================================*/ 


.block_used{
padding-top: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.texte_block_used{
 width: 560px;
 height: 104px;
 font-style: normal;
 font-weight: 500;
 font-size: 42px;
 line-height: 123%;
 text-align: center;
 letter-spacing: -0.84px;
 color: #000000;
}
.logo_block_used{
    margin-top: 83px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 916.48px;
    height: 50.25px;
}