*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
header, main{
    padding: 0 59px;
}
/*======================================================================
       LOADER
======================================================================*/     

#loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	z-index: 100000000;
	opacity: 1;
	overflow: hidden;
	text-align: center;
}
#loader {
	background-color: black;
}
.position-center-center{
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#logo{
 animation: fill 0.5s forwards 3s;
}
#logo path:nth-child(1){
 stroke-dasharray: 452px;
 stroke-dashoffset: 452px;
 animation: animation 2s ease forwards;
}

#logo path:nth-child(2){
 stroke-dasharray: 503;
 stroke-dashoffset: 503;
 animation: animation 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
 stroke-dasharray: 537;
 stroke-dashoffset: 537;
 animation: animation 2s ease forwards 0.6s;
}
#logo path:nth-child(4){
 stroke-dasharray: 299;
 stroke-dashoffset: 300;
 animation: animation 2s ease forwards 0.6s;
}
#logo path:nth-child(5){
 stroke-dasharray: 488;
 stroke-dashoffset: 488;
 animation: animation 2s ease forwards 0.9s;
}
#logo path:nth-child(6){
 stroke-dasharray: 503;
 stroke-dashoffset: 503;
 animation: animation 2s ease forwards 1.2s;
}
#logo path:nth-child(7){
 stroke-dasharray: 264;
 stroke-dashoffset: 264;
 animation: animation 2s ease forwards 1.5s;
}

@keyframes animation {
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
       fill: none;
    }
    to{
        fill: white;
    }
}


/*======================================================================
       HEADER
======================================================================*/    
header{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .logo-div{
    float: left;
    width: 40%;
}
header .logo-div .logo{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo-div .logo img{
    width: 135px;
    height: 32px;
}
.navbar{
  float: right;
  width: 60%;
  display: flex;
  align-items: center;
}
.navbar .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
}
.nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
nav li{
  margin-left: 46px;
}
nav li a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  width: 87px;
  height: 25px;
}


/*================= boutpon get started ====================*/

button{
    cursor: pointer;
    color: white;
    border: none;
    width: 150px;
    height: 44px;
    line-height: 25px;
    border-radius: 8px;
    background-color: black;
    font-weight: 700;
    font-size: 18px;
}


/*======================================================================
       BLOCK USEFUL REWWARD...
======================================================================*/     

.main{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.texte_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 512px;
}
.texte_main_h1{
 width: 463px;
 height: 163px;
 font-style: normal;
 font-weight: 700;
 font-size: 50px;
 line-height: 123%;
 letter-spacing: -0.84px;
 color: #000000;
}
.texte_main_p{
    margin-top: 25px;
 width: 364px;
 height: 96px;
 font-style: normal;
 font-weight: 300;
 font-size: 23px;
 line-height: 139.5%;
 letter-spacing: -0.0485739px;
 color: #000000;  
}
.btn_main{
    margin-top: 44px;
}


/*======================================================================
       BLOCK USED BY...
======================================================================*/ 


.block_used{
padding-top: 150px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.texte_block_used{
 width: 560px;
 height: 104px;
 font-style: normal;
 font-weight: 600;
 font-size: 42px;
 line-height: 123%;
 text-align: center;
 letter-spacing: -0.84px;
 color: #000000;
}
.logo_block_used{
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 916.48px;
    height: 50.25px;
}


/*======================================================================
       BLOCK GET PEACE...
======================================================================*/ 

.get_peace{
 margin-top: 100px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.get_peace_h2{
 text-align: center;
 width: 551px;
 height: 104px;
 font-style: normal;
 font-weight: 600;
 font-size: 42px;
 line-height: 123%;
 letter-spacing: -0.84px;
 color: #000000;
}
.get_peace_block1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.get_peace_div1{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.marge1{
    margin-right: 97px;
    margin-left: 40px;
}
.marge2{
    margin-left: 97px;
}
.get_peace_div1_h3{
  width: 403px;
  height: 87px;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.84px;
  color: #191919;
}
.get_peace_div1_p{
width: 383px;
height: 84px;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 28px;
color: #191919;
margin-top: 25px;
}
#line_get_peace{
position: absolute;
width: 194.71px;
height: 177.34px;
left: 25px;
top: 25px;
}
.get_peace_block_image1,.built_for_creative_image1{
    position: relative;
    width: 603px;
    height: 546px;
    padding: 57px 0px 0px 47px;
}
.get_peace_block_image,.built_for_creative_image{
    width: 561px;
    height: 489px;
    background: url("../image/3.png"), #212121;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-start;

}
.dic_rectangle{
    width: 243px;
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #212121;
}
.title{
width: 156px;
height: 32px;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}
.title_sub{
width: 168px;
height: 26px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 26px;
color: rgba(255, 255, 255, 0.8);
}


/*======================================================================
       BLOCK CHEKING ZERO...
======================================================================*/ 

.checking_zero_block{
    margin-top: 100px;
}
.checking_zero_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checking_zero_block_h2{
width: 587px;
height: 52px;
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 123%;
text-align: center;
letter-spacing: -0.84px;
 color: #000000;
}
.checking_zero_block_div{
    margin-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.checking_zero_block_div1_div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.checking_zero_block_div1_div2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.c_z_b_d_d2_h3{
width: 245px;
height: 30px;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 123%;
letter-spacing: -0.84px;
color: #000000;
}
.c_z_b_d_d2_p{
width: 278px;
height: 56px;
font-style: normal;
font-weight: 300;
font-size: 19px;
line-height: 28px;
color: #191919;
}


/*======================================================================
       BLOCK BUILT FOR CREATIVE...
======================================================================*/ 

.built_for_creative1{
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.built_for_div1_h2{
width: 317px;
height: 88px;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 123%;
letter-spacing: -0.84px;
color: #000000;
}
.built_for_div1_p{
width: 335px;
height: 177px;
font-style: normal;
font-weight: 300;
font-size: 25.08px;
line-height: 39px;
color: #191919;
margin-top: 25px;
}
.built_for_creative_image{
    background: url(../image//4.png), #D1EE1E;
}
.built_for_color{
    width: 244.7px;
    background: #D1EE1E;
}
.built_for_color .title{
    width: 179px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 24.1683px;
    line-height: 32px;
    color: #000000;
}
.built_for_color .title_sub{
width: 161.14px;
height: 27.06px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 14.0982px;
line-height: 26px;
color: #000000;
}